{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true
  },
  "rules": {
    "quotes": [
      2,
      "single"
    ],
    "indent": [
      2,
      "tab",
      {
        "SwitchCase": 1
      }
    ],
    "max-len": 0,
    "no-underscore-dangle": 0,
    "eol-last": 2,
    "no-tabs": 0,
    "semi": 2,
    "comma-dangle": 0,
    "import/extensions": 2,
    "import/prefer-default-export": 0,
    "object-curly-spacing": 2,
    "no-multi-spaces": 2,
    "no-unused-expressions": 0,
    "no-use-before-define": 0,
    "no-case-declarations": 0,
    "default-case": 0,
    "brace-style": 0,
    "prefer-rest-params": 1,
    "consistent-return": 0,
		"object-curly-newline": 0,
		"function-paren-newline": 0,
		"prefer-destructuring": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-indent": [
      2,
      "tab"
    ],
    "react/jsx-indent-props": [
      2,
      "tab"
    ],
    "react/jsx-tag-spacing": [
			2,
			{
				"closingSlash": "never",
				"beforeSelfClosing": "always",
				"afterOpening": "never"
			}
		],
    "react/prop-types": 0,
    "react/no-string-refs": 0,
    "react/sort-comp": 0,
		"react/jsx-filename-extension": 0,
		"react/jsx-curly-brace-presence": 0,
		"jsx-a11y/href-no-hash": 0
  }
}
